:root {
  background-color:#136F4C;
}

body {
  font-family: "Indie Flower", system-ui;
  font-weight: 500;
  font-style: normal;
  background-color:#ffffff;
  color:#074934a5;
  max-width: 1200px;
  margin: auto;
  border: 3px solid #73AD21;
}

h1, h2 {
  font-family: "Shadows Into Light Two", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#9F1B19;
}

article {
  color:#1F2041;
  background-color:#bbbdff;
}

* {
  text-decoration: none;
}

p {
  font-size: 25px;
}

.hero div {
  display: block;
  width: 1200px;
  height: 700px;
  position: absolute;
}

div img {
  width: 1200px;
  height: 750px
}

article img {
  display: flex;
  width: 1200px;
  height: 725px;
}

mark {
  display: flex;
  background-color:#1F2041;
  font-size: 25px;
  color:#ffffff;
  justify-content: center;
}

header {
  display: grid;
  justify-items: center;
  padding: 20px;
  font-size: 30px;
}

.nav {
  display: flex;
  gap: 15px;
  border: #000 solid 2px;
  margin: 10px;
}

.nav a {
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-content: center;
  width: 128px;
}

.heading {
  display: grid;
  padding: 20px;
  background-color: #333;
  color: white;
  max-width: 1200px;
  justify-content: center;
  margin: 1rem auto;
	display: grid;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.slogan {
  display: grid;
  justify-content: center;
  font-size: 40px;
  height:100px;
}

.img-container {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 1px;
  margin: auto;
  flex: 1;
  justify-content: center;
  gap: 10px
}

.img-container h2 {
  font-size: 120px;
}

figcaption {
  display: flex;
  flex: 1;
  color:#9F1B19;
  font-size: 125%;
  padding: 15px;
  justify-content: center;
}

section img {
  display: flex;
  width: 300px;
  height: 200px;
}

footer  nav {
  display: flex;
  flex-direction: row-reverse;
}

.sm_insta {
  width: 50px;
}

.sm_yt {
  width: 50px;
}

.sm_fb {
  width: 50px;
}

.emp-intro {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.user-info {
  display: flex;
  flex-direction: column;
  max-width: 375px;
}

.img-container2 {
  border: #000 solid;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 1px;
  margin: auto;
  flex: 1;
  justify-content: space-evenly;
}
.reason {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

form p {
  font-size: 30px;
}

textarea {
  display: flex;
  margin-top: 20px
}

.sbmt {
  background-color: #0061b6;
  color: #ffffff;
  outline: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

form div{
  margin: 20px;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 8px 7px 3px;
}

.address-h{
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.address {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.p-e-h {
  display: flex;
  justify-content: space-between;
}

.num-header, .mail-header {
  font-size: 35px;
}
.num-header{
  margin-left: 300px;
}

.mail-header {
  margin-right: 300px;
}

.p-and-e {
  display: flex;
  justify-content: space-between;
}

.email {
  font-size: 20px;
  margin-right: 205px;
}

.phone {
  margin-left: 290px;
}

.maps {
  display: flex;
  justify-content: center;
}

input[type=checkbox],
input.checkbox {
  float: left;
  clear: none;
  margin: 4px 7px 3px;
}

.frame {
  display: flex;
  justify-content: right;
  
}
